* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-sidebar {
  display: flex;
}

.sidebar {
  background-color: #6d5fb3;
  color: black;
  height: 100vh;
}

.right-sidebar {
  display: flex;
  background-color: #FD90B2;
}

.rightSidebar {
  background-color: #FD90B2;
  color: black;
  height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  color: white;
}

.logoSection {
  font-size: 22px;
  line-height: 0;
}

.bars {
  margin-top: -13px;
}

.link {
  display: flex;
  font-size: 20px;
  color: white;
  gap: 10px;
  padding: 10px 13px;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045), border 0.2s ease-in-out, background 0.2s ease-in-out;

  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}

.link:hover {
  border-right: 4px solid white;

  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
  background: #b1a8de;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045), border 0.2s ease-in-out, background 0.2s ease-in-out;

}

.bottom-routes {
  margin-top: 44vh;
}

.icon-text {
  white-space: nowrap;
}


/* styling dashboar*/


.dashboardSection {
  padding: 8px 20px;
}

.pText {
  color: #6d5fb3;
}

.dText {
  font-size: 20px;
  font-weight: 600;
  color: #6d5fb3;
}

.dashboardContainer {
  display: flex;
  height: 53vh;
  width: 170vh;
  padding: 10px 10px;
}

.containerLeft {
  display: flex;
  width: 50%;
  margin: 10px;
  background-color: #6d5fb3;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.containerRight {
  display: block;
  width: 50%;
  margin: 10px;
}

.upperOverlappingDiv {
  position: absolute;
  border: 2px;
  height: 70px;
  width: 80px;
  margin-top: 30px;
  margin-left: 32px;
  border-radius: 10px;
  background-color: #8D82C8;
}

.lowerOverlappingDiv {
  position: absolute;
  border: 2px;
  height: 70px;
  width: 80px;
  margin-top: -190px;
  margin-left: 32px;
  border-radius: 10px;
  background-color: #FEAEC7;
}

.lowerFirstOverlappingDiv {
  position: absolute;
  border: 2px;
  height: 105px;
  width: 39.2vh;
  margin-top: -202px;
  border-radius: 40px;
  background-color: #FD90B2;
}

.rightFirst {
  position: relative;
  height: 18vh;
  width: 50%;
  margin-bottom: 20px;
  background-color: #6d5fb3;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.rightSecond {
  position: relative;
  height: 27vh;
  width: 50%;
  background-color: #f46995;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.containerBottom {
  display: flex;
  width: 150vh;
  padding: 10px 10px;
  position: relative;
}

.containerI,
.containerII,
.containerIII {
  display: flex;
  border: 2px;
  margin: 10px;
  margin-top: 50px;
  padding: 10px;
  width: 27%;
  border-radius: 40px;
  height: 25vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.overlappingDiv {
  position: absolute;
  z-index: 1;
  border: 2px;
  border-radius: 20px;
  margin-top: -30px;
  margin-left: 105px;
  height: 70px;
  width: 70px;
  background-color: #6d5fb3;
}

/* charts */
.barchart {
  width: 70vh;
}

.lineChart {
  width: 80vh;
  position: relative;
  margin-left: -85vh;
}

.dropdown {
  /* position: relative; */
  display: block;
  margin-left: 80px;
}

.dropdownButton {
  position: relative;
  background-color: #6d5fb3;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: 1px solid white;
  width: 70px;
  margin-top: 20px;
  margin-left: 440px;
  border-radius: 20px;
}

.piechart{
  width: 30%;
  height: 30%;
  margin-left: 130vh;
  margin-top: -80vh;
}

.rightSidebar {
  position: relative;
  margin-left: 150vh;
  height: 100vh;
}


.containerRightSidebar{
  display: block;
  position: relative;
  height: 92%;
  
} 

/* right sidebar containerrs */

.top{
  max-width: 100%;
  overflow: hidden;
}


.smallContainers{
  display: block;
}


.containerSectionI, .containerSectionII, .containerSectionIII{
  display: flex;
  height: 25vh;
  margin: 10px;
}

.containerSectionI{
  margin-top: 80px;
}

.smallContainerI, .smallContainerII{
  position: relative;
  height: 20vh;
  margin: 3px;
  width:100%;
  max-width: 300px; 
  margin-left: 10px;
  border-radius: 40px;
  background-color: #FD90B2;
}

.iconRight {
  color: white;
  position: relative;
  top: 43%;
  left: 50%;
  height: 30%;
  transform: translate(-50%, -50%);
  width: 35%;
}

.textRight {
  position: absolute;
  color: white;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  font-size: 22px;
}

.containerSectionII{
  border-radius: 40px;
  background-color: #6d5fb3;
}

.progress{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  margin: 10px;
}


/* 
.containerRightSidebarI, .containerRightSidebarII, .containerRightSidebarIII {
  height: 25%;
  width: 70%;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 50px;
  border-radius: 40px;

}

.containerRightSidebarI{
  background-color: #FD90B2;
}

.containerRightSidebarII{
  background-color: #8D82C8;
}

.containerRightSidebarIII{
  background-color: #FD90B2;
} */





@media (max-width: 768px) {
  .main-sidebar {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .top {
    max-width: 100%;
  }

  .smallContainers {
    flex-direction: column; 
  }
}